<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Wheels Up!</h1>
        <h3>The App that helps to keep track of counties previously visited and countries to still explore!</h3>
<form>
  <div class="form-group">
    <label for="ca">Countries to visit:</label>
    <input class="form-control" type="text" id="country_name" placeholder="">
  </div>
  <br/>
  <button type="button" class="btn btn-secondary">Secondary</button>
</form>
