<div class="container">

  <div class="row">

    <div class="col-md-7">

      <form>
        <div class="form-group">
          <label for="inputNewCountry">Countries to explore:</label>
          <input class="form-control" type="text" id="inputNewCountry" placeholder="Mars">
        </div>
        <br>
        <button type="button" class="btn btn-secondary">Submit</button>
      </form>
      
      <br>

      <div>
        <ul id="desired">
          {{#each countries}}
            {{#if this.dataValues.desired}}
              <li>{{this.dataValues.country_name}} <button class="addToVisited">Wheels Up!</button></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

    <div class="col-md-5">

      <div>
        <label for="inputNewCountry">Countries Visited:</label>
        <ul id="visited">
          {{#each countries}}
            {{#if this.dataValues.visited}}
              <li>{{this.dataValues.country_name}} <button class="removeCountry">Delete!</button></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">

      <div>
        <ul id="allCountries">
          {{#each countries}}
              <li>{{this.dataValues.country_name}} <button class="addToDesired">Add to List</button></li>
              {{!-- <li>{{this.dataValues.population}} </li> --}}
          {{/each}}
        </ul>
      </div>

      <div>
        <button id="startsWithC">C</button>
      </div>

      <div>
        <button id="startsWithS">S</button>
      </div>

      <div>
        <ul id="countriesAtoZ"></ul>
      </div>

    </div>
  </div>

</div>