<div class="container">

  <div class="row">

    <div class="col-md-7">

      <form>
        <div class="form-group">
          <i class="fas fa-plane-departure"></i>
          <label for="inputNewCountry">Countries to explore:</label>
          <input class="form-control" type="text" id="inputNewCountry" placeholder="Mars">
        </div>
        <br>
        <button type="button" class="btn btn-secondary">Submit</button>
      </form>
      
      <br>

      <div>
        <ul id="desired">
          {{#each countries}}
            {{#if this.dataValues.desired}}
              <li>{{this.dataValues.country_name}} <button class="addToVisited">Wheels Up!</button></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

    <div class="col-md-5">

      <div>
       <i class="fas fa-plane-arrival"></i>
        <label for="inputNewCountry">Countries Visited:</label>
        <ul id="visited">
          {{#each countries}}
            {{#if this.dataValues.visited}}
              <li>{{this.dataValues.country_name}} <button class="removeCountry">Delete!</button></li>
            {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">

      <div>
        <ul id="allCountries">
          {{#each countries}}
              <li>{{this.dataValues.country_name}} <button class="addToDesired">Add to List</button></li>
              {{!-- <li>{{this.dataValues.population}} </li> --}}
          {{/each}}
        </ul>
      </div>

      <div>
        <h4 class="searchByAlphabet">Search for a country by the alphabet:</h4>
        <button id="startsWithA">A</button>
        <button id="startsWithB">B</button>
        <button id="startsWithC">C</button>
        <button id="startsWithD">D</button>
        <button id="startsWithE">E</button>
        <button id="startsWithF">F</button>
        <button id="startsWithG">G</button>
        <button id="startsWithH">H</button>
        <button id="startsWithI">I</button>
        <button id="startsWithJ">J</button>
        <button id="startsWithK">K</button>
        <button id="startsWithL">L</button>
        <button id="startsWithM">M</button>
      </div>

      <div>
        <button id="startsWithN">N</button>
        <button id="startsWithO">O</button>
        <button id="startsWithP">P</button>
        <button id="startsWithQ">Q</button>
        <button id="startsWithR">R</button>
        <button id="startsWithS">S</button>
        <button id="startsWithT">T</button>
        <button id="startsWithU">U</button>
        <button id="startsWithV">V</button>
        <button id="startsWithW">W</button>
        <button id="startsWithX">X</button>
        <button id="startsWithY">Y</button>
        <button id="startsWithZ">Z</button>
      </div>

      <div>
        <ul id="countriesAtoZ"></ul>
      </div>

    </div>
  </div>

</div>