<div class="container">

  <div class="row">
    <div classe="col-md" id="imageBackground">
      	<img src="../../assets/images/travel2.jpeg" alt="travel picture">
    </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h1>Wheels Up!</h1>
        <h5>The travel app that tracks countries visited and countries left to explore!</h5>
    </div>
      </div>
    </div>
    
<div class="row">
    <div class="col-md-6">

      <div>
        <ul id="allCountries">
          {{#each countries}}
          <li>{{this.dataValues.country_name}} <button class="addToDesired">Add to List</button></li>
          {{!-- <li>{{this.dataValues.population}} </li> --}}
          {{/each}}
        </ul>
      </div>

      <div>
        <h4 class="searchByAlphabet">Search for a country by the alphabet:</h4>
        <button class="alphaButton">A</button>
        <button class="alphaButton">B</button>
        <button class="alphaButton">C</button>
        <button class="alphaButton">D</button>
        <button class="alphaButton">E</button>
        <button class="alphaButton">F</button>
        <button class="alphaButton">G</button>
        <button class="alphaButton">H</button>
        <button class="alphaButton">I</button>
        <button class="alphaButton">J</button>
        <button class="alphaButton">K</button>
        <button class="alphaButton">L</button>
        <button class="alphaButton">M</button>
      </div>

      <div>
        <button class="alphaButton">N</button>
        <button class="alphaButton">O</button>
        <button class="alphaButton">P</button>
        <button class="alphaButton">Q</button>
        <button class="alphaButton">R</button>
        <button class="alphaButton">S</button>
        <button class="alphaButton">T</button>
        <button class="alphaButton">U</button>
        <button class="alphaButton">V</button>
        <button class="alphaButton">W</button>
        <button class="alphaButton">X</button>
        <button class="alphaButton">Y</button>
        <button class="alphaButton">Z</button>
      </div>

      <div>
        <ul id="countriesAtoZ"></ul>
      </div>











    <div class="row">   

    <div class="col-md-7">

      <form>
        <div class="form-group">
          <i class="fas fa-plane-departure"></i>
          <label for="inputNewCountry">Countries to explore:</label>
          <input class="form-control" type="text" id="inputNewCountry" placeholder="The Moon">
        </div>
        <br>
        <button type="button" class="btn btn-secondary">Submit</button>
      </form>

      <br>

      <div>
        <ul id="desired">
          {{#each countries}}
          {{#if this.dataValues.desired}}
          <li>{{this.dataValues.country_name}} <button class="addToVisited">Wheels Up!</button></li>
          {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

    <div class="col-md-5">

      <div>
        <i class="fas fa-plane-arrival"></i>
        <label for="inputNewCountry">Countries Visited:</label>
        <ul id="visited">
          {{#each countries}}
          {{#if this.dataValues.visited}}
          <li>{{this.dataValues.country_name}} <button class="removeCountry">Delete!</button></li>
          {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>

  </div>

  <hr>

  
    </div>

    <div class="col-md-6">

      <div>
        <button class="countryRegion">NORTHERN AMERICA</button>
        <button class="countryRegion">WESTERN EUROPE</button>
        <button class="countryRegion">EASTERN EUROPE</button>
        <button class="countryRegion">NORTHERN AFRICA</button>
        <button class="countryRegion">ASIA &#40;EX. NEAR EAST&#41;</button>
        <button class="countryRegion">OCEANIA</button>
        <button class="countryRegion">SUB-SAHARAN AFRICA</button>
        <button class="countryRegion">LATIN AMER. &#38; CARIB</button>
        <button class="countryRegion">C.W. OF IND. STATES</button>
        <button class="countryRegion">NEAR EAST</button>
        <button class="countryRegion">BALTICS</button>
      </div>


      <div>
        <ul id="countriesByRegion"></ul>
      </div>

    </div>

  </div>

</div>