
h1 {
  font-weight: bold;
  text-align: center;
  margin: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 75px;

}

#abcsearch{
  margin:15px ;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  }
  
  #letters{
    display: flex;
    justify-content: center;
  }

  h4  {
text-align: center;

  }

h5 {
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;

}



.addToVisited{
  
  background-color: #1E90ff;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}



img {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 75%;
  height: auto;

}
div#imageBackground {
  background-image: url(../../assets/images/clouds.png);
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.inputNewCountry {
size: 100px;

}

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;

}

#flags{
  display: flex;
  flex-wrap: wrap;
}