body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(236, 251, 255);
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 25px;
  font-size: 80px;
}

h2 {
    margin: 25px;
    font-size: 50px;
}

h3 {
  font-weight: bold;
}

h4, label, span {
  font-weight: bold;
  font-size: 20px;
}

h5 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 18px;
}

img {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}

#abcsearch{
  margin:15px ;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  }

.saveBlueBtn {
  background-color: #1E90ff;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.addToVisited{
  background-color: #1E90ff;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.visitedIcon {
  color: gray;
}

.inputNewCountry {
size: 100px;
}

#flags{
  display: flex;
  flex-wrap: wrap;
}

#funFacts{
  /* height: 100px; */
  /* width: 250px; */
  border: 2px solid blue;
  padding: 5%;  
  box-shadow: 5px 10px 18px blue;
}
#flagSize{
  height: 80px;
  width: 80px;
}
#countryFunFactsTitle{
  letter-spacing: 3px;
  text-align: center;
  border-bottom: 1px red;
}